<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <script src="../../../assets/js/jquery.min.js"></script>
  <body style="display: inline-flex;">
    <div class="sidebar-component">
      <!-- sidebar -->
    </div>
    <div class="main-component" id="main-component">
      <!-- main-screen -->
    </div>
    <div class="notification-component">
      <!-- notifications -->
    </div>

  </body>
  <script>
    require('../index.js');
    
  </script>
</html>
