.sidebar {
  padding: 10px 15px;
  min-width: max-content;
  width: 20%;
  line-height: 160%;
  background-color: #f1f1f3;
  height: 100vh;
  background-image: url("wall.png");
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.sidebar-inner {
  display: inline-flex;
}

.sidebar-head {
  padding-left: 10%;
  font-weight: 500;
  color: black;
}

.sidebar-top-links {
  height: 60%;
  margin-bottom: 15px;
  border-bottom: 1px solid #282c34;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f1f1f3;
  justify-content: space-between;
}

.logo-name {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 10px 15px;
}

.notification-icon {
  height: 28px;
  padding: 10px 15px;
}

.notification-screen {
  position: absolute;
  background-color: #f1f1f3;
  height: 100vh;
  transition: width 0.8s;
  width: 0%;
  right: -4%;
}
