body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 10px 15px;
}

.App-link {
  color: #09d3ac;
}

.inner-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}
