body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
.outer-wrapper {
  position: absolute;
  left: 22%;
  width: 75%;
}

.inner-component {
  margin-top: 7%;
  margin-left: 2%;
}
<<<<<<< HEAD

.main {
  padding: 10px 15px;
}

=======
>>>>>>> notifications with animations
.App-link {
  color: #09d3ac;
}

.inner-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}
=======
>>>>>>> Added travis and fixed eslint (#20)
