body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}

<<<<<<< HEAD
<<<<<<< HEAD
.main {
  padding: 10px 15px;
=======
body {
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
>>>>>>> notifications with animations
}
=======
.outer-wrapper {
  position: absolute;
  left: 22%;
  width: 75%;
}

.inner-component {
  margin-top: 7%;
  margin-left: 2%;
}
>>>>>>> dev header and notifs
